{
  "SQL_SERVER_SERVER": "",
  "SQL_SERVER_USER": "",
  "SQL_SERVER_PASSWORD": "",
  "SQL_SERVER_DATABASE": "",
  "SQL_SERVER_PORT": "",
  "SQL_SERVER_TRUST_SERVER_CERTIFICATE": "",
  "SNOWFLAKE_ACCOUNT": "",
  "SNOWFLAKE_USERNAME": "",
  "SNOWFLAKE_PASSWORD": "",
  "SNOWFLAKE_DATABASE": "",
  "SNOWFLAKE_SCHEMA": "",
  "SNOWFLAKE_WAREHOUSE": "",
  "SMTP_HOST": "",
  "SMTP_PORT": "",
  "SMTP_USER": "",
  "SMTP_PASS": "",
  "JWT_PHRASE": "",
  "MICROSOFT_TENANT_ID": "",
  "MICROSOFT_CLIENT_ID": "",
  "MICROSOFT_CLIENT_SECRET": ""
}
